.update-bar {
    border: 1px #e1e1e8;
    border-radius: 15px;
    padding: 16px;
    margin: 0px !important;
    background-color: white;
  }
  
  .update-bar-line {
    margin-top: 20px;
    width: 95px;
    height: 2px;
    background-color: blue;
  }
  
  .update-bar-text {
    margin-left: 10px;
  }
  
  .update-bar-text h3 {
    font-size: 16px;
    font-weight: bold;
  }
  
  .update-bar-text p {
    font-size: 14px;
    color: gray;
  }
  

  .dropdown {
    position: relative;
  }
  
  .dropdown button {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-menu li {
    padding: 5px 10px;
  }
  